listener "tcp" {
  address          = "0.0.0.0:{{ vault_port }}"
  cluster_address  = "0.0.0.0:{{ vault_cluster_port }}"
  tls_disable = 1
}

api_addr = "http://{{ ansible_fqdn }}:{{ vault_port }}"
cluster_addr = "http://{{ ansible_fqdn }}:{{ vault_cluster_port }}"

disable_mlock = true
storage "raft" {
  path = "{{ vault_raft_path }}"
  node_id = "raft_{{ ansible_facts['nodename'] }}"

  retry_join {
  {% if cloud_env == "aws" -%}
    auto_join = "provider=aws tag_key={{ vault_join_tag_key }} tag_value={{ vault_join_tag_value }} region={{ vault_region }} addr_type=private_v4"
    auto_join_scheme = "http"
  {% endif -%}
  }
ui = true
