listener "tcp" {
  address          = "0.0.0.0:{{ vault_port }}"
  cluster_address  = "0.0.0.0:{{ vault_cluster_port }}"
  tls_disable = 1
}

api_addr = "http://{{ ansible_fqdn }}:{{ vault_port }}"
cluster_addr = "http://{{ ansible_fqdn }}:{{ vault_cluster_port }}"

disable_mlock = true
storage "raft" {
  path = "{{ vault_raft_path }}"
  node_id = "raft_{{ ansible_facts['nodename'] }}"
ui = true
